ol.lst-kix_6qzpreazmqno-3 {
    list-style-type: none;
}

ol.lst-kix_6qzpreazmqno-4 {
    list-style-type: none;
}

.lst-kix_h88s3y397knj-3>li {
    counter-increment: lst-ctn-kix_h88s3y397knj-3;
}

ol.lst-kix_6qzpreazmqno-1 {
    list-style-type: none;
}

ol.lst-kix_6qzpreazmqno-2 {
    list-style-type: none;
}

ul.lst-kix_pz1ye2qlp1w9-0 {
    list-style-type: none;
}

ol.lst-kix_6qzpreazmqno-0 {
    list-style-type: none;
}

ul.lst-kix_pz1ye2qlp1w9-1 {
    list-style-type: none;
}

ul.lst-kix_pz1ye2qlp1w9-2 {
    list-style-type: none;
}

ol.lst-kix_h88s3y397knj-7.start {
    counter-reset: lst-ctn-kix_h88s3y397knj-7 0;
}

ul.lst-kix_pz1ye2qlp1w9-3 {
    list-style-type: none;
}

ol.lst-kix_s6nvbwet7b6a-4 {
    list-style-type: none;
}

ol.lst-kix_s6nvbwet7b6a-5 {
    list-style-type: none;
}

.lst-kix_zaqkkjjhu4ar-6>li {
    counter-increment: lst-ctn-kix_zaqkkjjhu4ar-6;
}

ol.lst-kix_s6nvbwet7b6a-2 {
    list-style-type: none;
}

ol.lst-kix_s6nvbwet7b6a-3 {
    list-style-type: none;
}

.lst-kix_ixhrw0cb8wi2-8>li {
    counter-increment: lst-ctn-kix_ixhrw0cb8wi2-8;
}

ol.lst-kix_s6nvbwet7b6a-8 {
    list-style-type: none;
}

ol.lst-kix_6qzpreazmqno-4.start {
    counter-reset: lst-ctn-kix_6qzpreazmqno-4 0;
}

ol.lst-kix_s6nvbwet7b6a-6 {
    list-style-type: none;
}

ol.lst-kix_s6nvbwet7b6a-7 {
    list-style-type: none;
}

ol.lst-kix_neiu91tsm62m-7.start {
    counter-reset: lst-ctn-kix_neiu91tsm62m-7 0;
}

.lst-kix_h88s3y397knj-2>li:before {
    content: "" counter(lst-ctn-kix_h88s3y397knj-2, lower-roman) ". ";
}

.lst-kix_neiu91tsm62m-7>li {
    counter-increment: lst-ctn-kix_neiu91tsm62m-7;
}

.lst-kix_h88s3y397knj-0>li:before {
    content: "" counter(lst-ctn-kix_h88s3y397knj-0, decimal) ". ";
}

.lst-kix_h88s3y397knj-4>li:before {
    content: "" counter(lst-ctn-kix_h88s3y397knj-4, lower-latin) ". ";
}

.lst-kix_h88s3y397knj-3>li:before {
    content: "" counter(lst-ctn-kix_h88s3y397knj-3, decimal) ". ";
}

.lst-kix_s6nvbwet7b6a-4>li {
    counter-increment: lst-ctn-kix_s6nvbwet7b6a-4;
}

ol.lst-kix_y3uq6xza4u17-1.start {
    counter-reset: lst-ctn-kix_y3uq6xza4u17-1 0;
}

.lst-kix_s6nvbwet7b6a-6>li {
    counter-increment: lst-ctn-kix_s6nvbwet7b6a-6;
}

.lst-kix_h88s3y397knj-1>li:before {
    content: "" counter(lst-ctn-kix_h88s3y397knj-1, lower-latin) ". ";
}

ul.lst-kix_o92n9fdffgi2-0 {
    list-style-type: none;
}

ul.lst-kix_o92n9fdffgi2-1 {
    list-style-type: none;
}

.lst-kix_ixhrw0cb8wi2-6>li {
    counter-increment: lst-ctn-kix_ixhrw0cb8wi2-6;
}

ol.lst-kix_s6nvbwet7b6a-1.start {
    counter-reset: lst-ctn-kix_s6nvbwet7b6a-1 0;
}

ol.lst-kix_ixhrw0cb8wi2-3.start {
    counter-reset: lst-ctn-kix_ixhrw0cb8wi2-3 0;
}

.lst-kix_6qzpreazmqno-7>li:before {
    content: "" counter(lst-ctn-kix_6qzpreazmqno-7, lower-latin) ". ";
}

.lst-kix_6qzpreazmqno-8>li:before {
    content: "" counter(lst-ctn-kix_6qzpreazmqno-8, lower-roman) ". ";
}

ol.lst-kix_6qzpreazmqno-7 {
    list-style-type: none;
}

ol.lst-kix_6qzpreazmqno-8 {
    list-style-type: none;
}

ol.lst-kix_y3uq6xza4u17-7.start {
    counter-reset: lst-ctn-kix_y3uq6xza4u17-7 0;
}

ol.lst-kix_6qzpreazmqno-5 {
    list-style-type: none;
}

ol.lst-kix_6qzpreazmqno-6 {
    list-style-type: none;
}

ol.lst-kix_h88s3y397knj-5 {
    list-style-type: none;
}

ol.lst-kix_zaqkkjjhu4ar-1.start {
    counter-reset: lst-ctn-kix_zaqkkjjhu4ar-1 0;
}

ol.lst-kix_h88s3y397knj-4 {
    list-style-type: none;
}

ol.lst-kix_ixhrw0cb8wi2-2.start {
    counter-reset: lst-ctn-kix_ixhrw0cb8wi2-2 0;
}

.lst-kix_6qzpreazmqno-3>li:before {
    content: "" counter(lst-ctn-kix_6qzpreazmqno-3, decimal) ". ";
}

.lst-kix_6qzpreazmqno-4>li:before {
    content: "" counter(lst-ctn-kix_6qzpreazmqno-4, lower-latin) ". ";
}

ol.lst-kix_h88s3y397knj-7 {
    list-style-type: none;
}

ol.lst-kix_h88s3y397knj-6 {
    list-style-type: none;
}

ol.lst-kix_h88s3y397knj-1 {
    list-style-type: none;
}

ol.lst-kix_h88s3y397knj-0 {
    list-style-type: none;
}

.lst-kix_ixhrw0cb8wi2-4>li {
    counter-increment: lst-ctn-kix_ixhrw0cb8wi2-4;
}

.lst-kix_6qzpreazmqno-2>li:before {
    content: "" counter(lst-ctn-kix_6qzpreazmqno-2, lower-roman) ". ";
}

.lst-kix_6qzpreazmqno-6>li:before {
    content: "" counter(lst-ctn-kix_6qzpreazmqno-6, decimal) ". ";
}

ol.lst-kix_h88s3y397knj-3 {
    list-style-type: none;
}

ol.lst-kix_h88s3y397knj-2 {
    list-style-type: none;
}

.lst-kix_6qzpreazmqno-7>li {
    counter-increment: lst-ctn-kix_6qzpreazmqno-7;
}

ul.lst-kix_o92n9fdffgi2-2 {
    list-style-type: none;
}

ol.lst-kix_s6nvbwet7b6a-7.start {
    counter-reset: lst-ctn-kix_s6nvbwet7b6a-7 0;
}

ul.lst-kix_o92n9fdffgi2-3 {
    list-style-type: none;
}

ol.lst-kix_h88s3y397knj-2.start {
    counter-reset: lst-ctn-kix_h88s3y397knj-2 0;
}

ul.lst-kix_o92n9fdffgi2-4 {
    list-style-type: none;
}

ol.lst-kix_neiu91tsm62m-2.start {
    counter-reset: lst-ctn-kix_neiu91tsm62m-2 0;
}

ul.lst-kix_o92n9fdffgi2-5 {
    list-style-type: none;
}

ul.lst-kix_o92n9fdffgi2-6 {
    list-style-type: none;
}

ol.lst-kix_h88s3y397knj-8 {
    list-style-type: none;
}

.lst-kix_6qzpreazmqno-5>li:before {
    content: "" counter(lst-ctn-kix_6qzpreazmqno-5, lower-roman) ". ";
}

ul.lst-kix_o92n9fdffgi2-7 {
    list-style-type: none;
}

ul.lst-kix_o92n9fdffgi2-8 {
    list-style-type: none;
}

ol.lst-kix_y3uq6xza4u17-8.start {
    counter-reset: lst-ctn-kix_y3uq6xza4u17-8 0;
}

.lst-kix_h88s3y397knj-8>li:before {
    content: "" counter(lst-ctn-kix_h88s3y397knj-8, lower-roman) ". ";
}

ol.lst-kix_zaqkkjjhu4ar-5.start {
    counter-reset: lst-ctn-kix_zaqkkjjhu4ar-5 0;
}

.lst-kix_h88s3y397knj-7>li:before {
    content: "" counter(lst-ctn-kix_h88s3y397knj-7, lower-latin) ". ";
}

ol.lst-kix_s6nvbwet7b6a-0.start {
    counter-reset: lst-ctn-kix_s6nvbwet7b6a-0 2;
}

.lst-kix_h88s3y397knj-6>li:before {
    content: "" counter(lst-ctn-kix_h88s3y397knj-6, decimal) ". ";
}

.lst-kix_neiu91tsm62m-0>li {
    counter-increment: lst-ctn-kix_neiu91tsm62m-0;
}

.lst-kix_6qzpreazmqno-0>li:before {
    content: "" counter(lst-ctn-kix_6qzpreazmqno-0, decimal) ". ";
}

.lst-kix_6qzpreazmqno-2>li {
    counter-increment: lst-ctn-kix_6qzpreazmqno-2;
}

.lst-kix_6qzpreazmqno-1>li:before {
    content: "" counter(lst-ctn-kix_6qzpreazmqno-1, lower-latin) ". ";
}

.lst-kix_h88s3y397knj-5>li:before {
    content: "" counter(lst-ctn-kix_h88s3y397knj-5, lower-roman) ". ";
}

ol.lst-kix_h88s3y397knj-8.start {
    counter-reset: lst-ctn-kix_h88s3y397knj-8 0;
}

ol.lst-kix_ixhrw0cb8wi2-8.start {
    counter-reset: lst-ctn-kix_ixhrw0cb8wi2-8 0;
}

ol.lst-kix_h88s3y397knj-1.start {
    counter-reset: lst-ctn-kix_h88s3y397knj-1 0;
}

.lst-kix_zaqkkjjhu4ar-8>li {
    counter-increment: lst-ctn-kix_zaqkkjjhu4ar-8;
}

.lst-kix_zaqkkjjhu4ar-2>li {
    counter-increment: lst-ctn-kix_zaqkkjjhu4ar-2;
}

ol.lst-kix_s6nvbwet7b6a-0 {
    list-style-type: none;
}

ol.lst-kix_neiu91tsm62m-1.start {
    counter-reset: lst-ctn-kix_neiu91tsm62m-1 0;
}

ol.lst-kix_s6nvbwet7b6a-1 {
    list-style-type: none;
}

ol.lst-kix_zaqkkjjhu4ar-0.start {
    counter-reset: lst-ctn-kix_zaqkkjjhu4ar-0 1;
}

ol.lst-kix_y3uq6xza4u17-2.start {
    counter-reset: lst-ctn-kix_y3uq6xza4u17-2 0;
}

ol.lst-kix_s6nvbwet7b6a-6.start {
    counter-reset: lst-ctn-kix_s6nvbwet7b6a-6 0;
}

.lst-kix_y3uq6xza4u17-5>li {
    counter-increment: lst-ctn-kix_y3uq6xza4u17-5;
}

ol.lst-kix_zaqkkjjhu4ar-6.start {
    counter-reset: lst-ctn-kix_zaqkkjjhu4ar-6 0;
}

ol.lst-kix_neiu91tsm62m-8.start {
    counter-reset: lst-ctn-kix_neiu91tsm62m-8 0;
}

ol.lst-kix_h88s3y397knj-0.start {
    counter-reset: lst-ctn-kix_h88s3y397knj-0 3;
}

.lst-kix_zaqkkjjhu4ar-1>li {
    counter-increment: lst-ctn-kix_zaqkkjjhu4ar-1;
}

.lst-kix_ixhrw0cb8wi2-1>li {
    counter-increment: lst-ctn-kix_ixhrw0cb8wi2-1;
}

ol.lst-kix_ixhrw0cb8wi2-7.start {
    counter-reset: lst-ctn-kix_ixhrw0cb8wi2-7 0;
}

ol.lst-kix_s6nvbwet7b6a-2.start {
    counter-reset: lst-ctn-kix_s6nvbwet7b6a-2 0;
}

.lst-kix_o92n9fdffgi2-2>li:before {
    content: "\0025a0   ";
}

.lst-kix_zaqkkjjhu4ar-2>li:before {
    content: "" counter(lst-ctn-kix_zaqkkjjhu4ar-2, lower-roman) ". ";
}

.lst-kix_y3uq6xza4u17-8>li:before {
    content: "" counter(lst-ctn-kix_y3uq6xza4u17-8, lower-roman) ". ";
}

.lst-kix_o92n9fdffgi2-4>li:before {
    content: "\0025cb   ";
}

.lst-kix_ixhrw0cb8wi2-2>li {
    counter-increment: lst-ctn-kix_ixhrw0cb8wi2-2;
}

.lst-kix_zaqkkjjhu4ar-0>li {
    counter-increment: lst-ctn-kix_zaqkkjjhu4ar-0;
}

.lst-kix_y3uq6xza4u17-6>li:before {
    content: "" counter(lst-ctn-kix_y3uq6xza4u17-6, decimal) ". ";
}

.lst-kix_zaqkkjjhu4ar-4>li:before {
    content: "" counter(lst-ctn-kix_zaqkkjjhu4ar-4, lower-latin) ". ";
}

.lst-kix_zaqkkjjhu4ar-6>li:before {
    content: "" counter(lst-ctn-kix_zaqkkjjhu4ar-6, decimal) ". ";
}

ol.lst-kix_s6nvbwet7b6a-5.start {
    counter-reset: lst-ctn-kix_s6nvbwet7b6a-5 0;
}

.lst-kix_s6nvbwet7b6a-7>li:before {
    content: "" counter(lst-ctn-kix_s6nvbwet7b6a-7, lower-latin) ". ";
}

.lst-kix_y3uq6xza4u17-2>li:before {
    content: "" counter(lst-ctn-kix_y3uq6xza4u17-2, lower-roman) ". ";
}

.lst-kix_zaqkkjjhu4ar-8>li:before {
    content: "" counter(lst-ctn-kix_zaqkkjjhu4ar-8, lower-roman) ". ";
}

ol.lst-kix_ixhrw0cb8wi2-4.start {
    counter-reset: lst-ctn-kix_ixhrw0cb8wi2-4 0;
}

.lst-kix_6qzpreazmqno-5>li {
    counter-increment: lst-ctn-kix_6qzpreazmqno-5;
}

ol.lst-kix_y3uq6xza4u17-3.start {
    counter-reset: lst-ctn-kix_y3uq6xza4u17-3 0;
}

.lst-kix_y3uq6xza4u17-4>li:before {
    content: "" counter(lst-ctn-kix_y3uq6xza4u17-4, lower-latin) ". ";
}

.lst-kix_o92n9fdffgi2-0>li:before {
    content: "\0025cf   ";
}

.lst-kix_h88s3y397knj-8>li {
    counter-increment: lst-ctn-kix_h88s3y397knj-8;
}

.lst-kix_s6nvbwet7b6a-5>li:before {
    content: "" counter(lst-ctn-kix_s6nvbwet7b6a-5, lower-roman) ". ";
}

.lst-kix_neiu91tsm62m-4>li {
    counter-increment: lst-ctn-kix_neiu91tsm62m-4;
}

ol.lst-kix_zaqkkjjhu4ar-7.start {
    counter-reset: lst-ctn-kix_zaqkkjjhu4ar-7 0;
}

ol.lst-kix_neiu91tsm62m-3.start {
    counter-reset: lst-ctn-kix_neiu91tsm62m-3 0;
}

.lst-kix_s6nvbwet7b6a-1>li {
    counter-increment: lst-ctn-kix_s6nvbwet7b6a-1;
}

.lst-kix_h88s3y397knj-7>li {
    counter-increment: lst-ctn-kix_h88s3y397knj-7;
}

ol.lst-kix_6qzpreazmqno-2.start {
    counter-reset: lst-ctn-kix_6qzpreazmqno-2 0;
}

.lst-kix_y3uq6xza4u17-0>li:before {
    content: "" counter(lst-ctn-kix_y3uq6xza4u17-0, decimal) ". ";
}

.lst-kix_o92n9fdffgi2-6>li:before {
    content: "\0025cf   ";
}

.lst-kix_ixhrw0cb8wi2-3>li:before {
    content: "" counter(lst-ctn-kix_ixhrw0cb8wi2-3, decimal) ". ";
}

.lst-kix_ixhrw0cb8wi2-3>li {
    counter-increment: lst-ctn-kix_ixhrw0cb8wi2-3;
}

ol.lst-kix_6qzpreazmqno-5.start {
    counter-reset: lst-ctn-kix_6qzpreazmqno-5 0;
}

.lst-kix_zaqkkjjhu4ar-0>li:before {
    content: "" counter(lst-ctn-kix_zaqkkjjhu4ar-0, decimal) ". ";
}

.lst-kix_o92n9fdffgi2-8>li:before {
    content: "\0025a0   ";
}

.lst-kix_ixhrw0cb8wi2-1>li:before {
    content: "" counter(lst-ctn-kix_ixhrw0cb8wi2-1, lower-latin) ". ";
}

ol.lst-kix_y3uq6xza4u17-5.start {
    counter-reset: lst-ctn-kix_y3uq6xza4u17-5 0;
}

ol.lst-kix_zaqkkjjhu4ar-8.start {
    counter-reset: lst-ctn-kix_zaqkkjjhu4ar-8 0;
}

.lst-kix_s6nvbwet7b6a-8>li {
    counter-increment: lst-ctn-kix_s6nvbwet7b6a-8;
}

ol.lst-kix_s6nvbwet7b6a-4.start {
    counter-reset: lst-ctn-kix_s6nvbwet7b6a-4 0;
}

ol.lst-kix_neiu91tsm62m-6.start {
    counter-reset: lst-ctn-kix_neiu91tsm62m-6 0;
}

.lst-kix_h88s3y397knj-1>li {
    counter-increment: lst-ctn-kix_h88s3y397knj-1;
}

.lst-kix_y3uq6xza4u17-3>li {
    counter-increment: lst-ctn-kix_y3uq6xza4u17-3;
}

ol.lst-kix_s6nvbwet7b6a-3.start {
    counter-reset: lst-ctn-kix_s6nvbwet7b6a-3 0;
}

.lst-kix_s6nvbwet7b6a-3>li:before {
    content: "" counter(lst-ctn-kix_s6nvbwet7b6a-3, decimal) ". ";
}

ol.lst-kix_y3uq6xza4u17-6.start {
    counter-reset: lst-ctn-kix_y3uq6xza4u17-6 0;
}

ol.lst-kix_neiu91tsm62m-5.start {
    counter-reset: lst-ctn-kix_neiu91tsm62m-5 0;
}

.lst-kix_s6nvbwet7b6a-1>li:before {
    content: "" counter(lst-ctn-kix_s6nvbwet7b6a-1, lower-latin) ". ";
}

.lst-kix_6qzpreazmqno-0>li {
    counter-increment: lst-ctn-kix_6qzpreazmqno-0;
}

.lst-kix_6qzpreazmqno-6>li {
    counter-increment: lst-ctn-kix_6qzpreazmqno-6;
}

ol.lst-kix_6qzpreazmqno-3.start {
    counter-reset: lst-ctn-kix_6qzpreazmqno-3 0;
}

ol.lst-kix_ixhrw0cb8wi2-5.start {
    counter-reset: lst-ctn-kix_ixhrw0cb8wi2-5 0;
}

.lst-kix_s6nvbwet7b6a-2>li {
    counter-increment: lst-ctn-kix_s6nvbwet7b6a-2;
}

.lst-kix_neiu91tsm62m-5>li {
    counter-increment: lst-ctn-kix_neiu91tsm62m-5;
}

.lst-kix_neiu91tsm62m-5>li:before {
    content: "" counter(lst-ctn-kix_neiu91tsm62m-5, lower-roman) ". ";
}

.lst-kix_pz1ye2qlp1w9-3>li:before {
    content: "\0025cf   ";
}

.lst-kix_s6nvbwet7b6a-5>li {
    counter-increment: lst-ctn-kix_s6nvbwet7b6a-5;
}

.lst-kix_neiu91tsm62m-4>li:before {
    content: "" counter(lst-ctn-kix_neiu91tsm62m-4, lower-latin) ". ";
}

.lst-kix_neiu91tsm62m-6>li:before {
    content: "" counter(lst-ctn-kix_neiu91tsm62m-6, decimal) ". ";
}

.lst-kix_pz1ye2qlp1w9-2>li:before {
    content: "\0025a0   ";
}

.lst-kix_pz1ye2qlp1w9-4>li:before {
    content: "\0025cb   ";
}

ol.lst-kix_6qzpreazmqno-1.start {
    counter-reset: lst-ctn-kix_6qzpreazmqno-1 0;
}

.lst-kix_pz1ye2qlp1w9-1>li:before {
    content: "\0025cb   ";
}

.lst-kix_pz1ye2qlp1w9-5>li:before {
    content: "\0025a0   ";
}

.lst-kix_zaqkkjjhu4ar-7>li {
    counter-increment: lst-ctn-kix_zaqkkjjhu4ar-7;
}

.lst-kix_neiu91tsm62m-1>li:before {
    content: "" counter(lst-ctn-kix_neiu91tsm62m-1, lower-latin) ". ";
}

.lst-kix_pz1ye2qlp1w9-7>li:before {
    content: "\0025cb   ";
}

.lst-kix_neiu91tsm62m-0>li:before {
    content: "" counter(lst-ctn-kix_neiu91tsm62m-0, decimal) ". ";
}

.lst-kix_neiu91tsm62m-8>li:before {
    content: "" counter(lst-ctn-kix_neiu91tsm62m-8, lower-roman) ". ";
}

.lst-kix_pz1ye2qlp1w9-0>li:before {
    content: "\0025cf   ";
}

.lst-kix_pz1ye2qlp1w9-6>li:before {
    content: "\0025cf   ";
}

.lst-kix_pz1ye2qlp1w9-8>li:before {
    content: "\0025a0   ";
}

.lst-kix_neiu91tsm62m-7>li:before {
    content: "" counter(lst-ctn-kix_neiu91tsm62m-7, lower-latin) ". ";
}

.lst-kix_y3uq6xza4u17-4>li {
    counter-increment: lst-ctn-kix_y3uq6xza4u17-4;
}

.lst-kix_ixhrw0cb8wi2-7>li {
    counter-increment: lst-ctn-kix_ixhrw0cb8wi2-7;
}

.lst-kix_neiu91tsm62m-2>li:before {
    content: "" counter(lst-ctn-kix_neiu91tsm62m-2, lower-roman) ". ";
}

.lst-kix_neiu91tsm62m-3>li:before {
    content: "" counter(lst-ctn-kix_neiu91tsm62m-3, decimal) ". ";
}

ol.lst-kix_neiu91tsm62m-4.start {
    counter-reset: lst-ctn-kix_neiu91tsm62m-4 0;
}

ol.lst-kix_y3uq6xza4u17-4.start {
    counter-reset: lst-ctn-kix_y3uq6xza4u17-4 0;
}

.lst-kix_y3uq6xza4u17-6>li {
    counter-increment: lst-ctn-kix_y3uq6xza4u17-6;
}

.lst-kix_h88s3y397knj-2>li {
    counter-increment: lst-ctn-kix_h88s3y397knj-2;
}

ol.lst-kix_ixhrw0cb8wi2-6.start {
    counter-reset: lst-ctn-kix_ixhrw0cb8wi2-6 0;
}

.lst-kix_h88s3y397knj-4>li {
    counter-increment: lst-ctn-kix_h88s3y397knj-4;
}

ol.lst-kix_zaqkkjjhu4ar-0 {
    list-style-type: none;
}

ol.lst-kix_zaqkkjjhu4ar-6 {
    list-style-type: none;
}

ol.lst-kix_zaqkkjjhu4ar-5 {
    list-style-type: none;
}

ol.lst-kix_zaqkkjjhu4ar-8 {
    list-style-type: none;
}

ol.lst-kix_ixhrw0cb8wi2-0.start {
    counter-reset: lst-ctn-kix_ixhrw0cb8wi2-0 4;
}

ol.lst-kix_zaqkkjjhu4ar-7 {
    list-style-type: none;
}

ol.lst-kix_zaqkkjjhu4ar-2 {
    list-style-type: none;
}

ol.lst-kix_zaqkkjjhu4ar-1 {
    list-style-type: none;
}

ol.lst-kix_zaqkkjjhu4ar-4 {
    list-style-type: none;
}

ol.lst-kix_zaqkkjjhu4ar-3 {
    list-style-type: none;
}

ol.lst-kix_6qzpreazmqno-6.start {
    counter-reset: lst-ctn-kix_6qzpreazmqno-6 0;
}

.lst-kix_h88s3y397knj-6>li {
    counter-increment: lst-ctn-kix_h88s3y397knj-6;
}

.lst-kix_y3uq6xza4u17-2>li {
    counter-increment: lst-ctn-kix_y3uq6xza4u17-2;
}

.lst-kix_ixhrw0cb8wi2-6>li:before {
    content: "" counter(lst-ctn-kix_ixhrw0cb8wi2-6, decimal) ". ";
}

.lst-kix_6qzpreazmqno-1>li {
    counter-increment: lst-ctn-kix_6qzpreazmqno-1;
}

.lst-kix_ixhrw0cb8wi2-5>li:before {
    content: "" counter(lst-ctn-kix_ixhrw0cb8wi2-5, lower-roman) ". ";
}

.lst-kix_s6nvbwet7b6a-3>li {
    counter-increment: lst-ctn-kix_s6nvbwet7b6a-3;
}

.lst-kix_neiu91tsm62m-6>li {
    counter-increment: lst-ctn-kix_neiu91tsm62m-6;
}

.lst-kix_ixhrw0cb8wi2-7>li:before {
    content: "" counter(lst-ctn-kix_ixhrw0cb8wi2-7, lower-latin) ". ";
}

.lst-kix_ixhrw0cb8wi2-8>li:before {
    content: "" counter(lst-ctn-kix_ixhrw0cb8wi2-8, lower-roman) ". ";
}

.lst-kix_s6nvbwet7b6a-7>li {
    counter-increment: lst-ctn-kix_s6nvbwet7b6a-7;
}

ol.lst-kix_6qzpreazmqno-0.start {
    counter-reset: lst-ctn-kix_6qzpreazmqno-0 5;
}

.lst-kix_6qzpreazmqno-8>li {
    counter-increment: lst-ctn-kix_6qzpreazmqno-8;
}

ol.lst-kix_ixhrw0cb8wi2-1.start {
    counter-reset: lst-ctn-kix_ixhrw0cb8wi2-1 0;
}

.lst-kix_zaqkkjjhu4ar-5>li {
    counter-increment: lst-ctn-kix_zaqkkjjhu4ar-5;
}

ol.lst-kix_6qzpreazmqno-7.start {
    counter-reset: lst-ctn-kix_6qzpreazmqno-7 0;
}

ol.lst-kix_ixhrw0cb8wi2-0 {
    list-style-type: none;
}

ol.lst-kix_ixhrw0cb8wi2-1 {
    list-style-type: none;
}

ol.lst-kix_ixhrw0cb8wi2-2 {
    list-style-type: none;
}

ol.lst-kix_ixhrw0cb8wi2-3 {
    list-style-type: none;
}

ol.lst-kix_ixhrw0cb8wi2-4 {
    list-style-type: none;
}

ol.lst-kix_ixhrw0cb8wi2-5 {
    list-style-type: none;
}

ol.lst-kix_ixhrw0cb8wi2-6 {
    list-style-type: none;
}

ol.lst-kix_ixhrw0cb8wi2-7 {
    list-style-type: none;
}

ol.lst-kix_ixhrw0cb8wi2-8 {
    list-style-type: none;
}

.lst-kix_h88s3y397knj-0>li {
    counter-increment: lst-ctn-kix_h88s3y397knj-0;
}

.lst-kix_y3uq6xza4u17-8>li {
    counter-increment: lst-ctn-kix_y3uq6xza4u17-8;
}

ol.lst-kix_neiu91tsm62m-2 {
    list-style-type: none;
}

ol.lst-kix_neiu91tsm62m-1 {
    list-style-type: none;
}

ol.lst-kix_neiu91tsm62m-4 {
    list-style-type: none;
}

ol.lst-kix_neiu91tsm62m-3 {
    list-style-type: none;
}

ol.lst-kix_neiu91tsm62m-6 {
    list-style-type: none;
}

.lst-kix_o92n9fdffgi2-1>li:before {
    content: "\0025cb   ";
}

ol.lst-kix_neiu91tsm62m-5 {
    list-style-type: none;
}

ol.lst-kix_neiu91tsm62m-8 {
    list-style-type: none;
}

ol.lst-kix_neiu91tsm62m-7 {
    list-style-type: none;
}

.lst-kix_o92n9fdffgi2-3>li:before {
    content: "\0025cf   ";
}

ol.lst-kix_y3uq6xza4u17-0.start {
    counter-reset: lst-ctn-kix_y3uq6xza4u17-0 6;
}

.lst-kix_6qzpreazmqno-4>li {
    counter-increment: lst-ctn-kix_6qzpreazmqno-4;
}

.lst-kix_zaqkkjjhu4ar-3>li:before {
    content: "" counter(lst-ctn-kix_zaqkkjjhu4ar-3, decimal) ". ";
}

.lst-kix_y3uq6xza4u17-7>li:before {
    content: "" counter(lst-ctn-kix_y3uq6xza4u17-7, lower-latin) ". ";
}

ol.lst-kix_neiu91tsm62m-0 {
    list-style-type: none;
}

.lst-kix_zaqkkjjhu4ar-5>li:before {
    content: "" counter(lst-ctn-kix_zaqkkjjhu4ar-5, lower-roman) ". ";
}

.lst-kix_s6nvbwet7b6a-0>li {
    counter-increment: lst-ctn-kix_s6nvbwet7b6a-0;
}

.lst-kix_y3uq6xza4u17-5>li:before {
    content: "" counter(lst-ctn-kix_y3uq6xza4u17-5, lower-roman) ". ";
}

.lst-kix_s6nvbwet7b6a-6>li:before {
    content: "" counter(lst-ctn-kix_s6nvbwet7b6a-6, decimal) ". ";
}

.lst-kix_s6nvbwet7b6a-8>li:before {
    content: "" counter(lst-ctn-kix_s6nvbwet7b6a-8, lower-roman) ". ";
}

ol.lst-kix_h88s3y397knj-3.start {
    counter-reset: lst-ctn-kix_h88s3y397knj-3 0;
}

.lst-kix_neiu91tsm62m-3>li {
    counter-increment: lst-ctn-kix_neiu91tsm62m-3;
}

.lst-kix_s6nvbwet7b6a-4>li:before {
    content: "" counter(lst-ctn-kix_s6nvbwet7b6a-4, lower-latin) ". ";
}

.lst-kix_zaqkkjjhu4ar-7>li:before {
    content: "" counter(lst-ctn-kix_zaqkkjjhu4ar-7, lower-latin) ". ";
}

.lst-kix_y3uq6xza4u17-0>li {
    counter-increment: lst-ctn-kix_y3uq6xza4u17-0;
}

.lst-kix_y3uq6xza4u17-3>li:before {
    content: "" counter(lst-ctn-kix_y3uq6xza4u17-3, decimal) ". ";
}

ol.lst-kix_zaqkkjjhu4ar-2.start {
    counter-reset: lst-ctn-kix_zaqkkjjhu4ar-2 0;
}

.lst-kix_neiu91tsm62m-1>li {
    counter-increment: lst-ctn-kix_neiu91tsm62m-1;
}

.lst-kix_ixhrw0cb8wi2-0>li {
    counter-increment: lst-ctn-kix_ixhrw0cb8wi2-0;
}

.lst-kix_y3uq6xza4u17-1>li:before {
    content: "" counter(lst-ctn-kix_y3uq6xza4u17-1, lower-latin) ". ";
}

ol.lst-kix_s6nvbwet7b6a-8.start {
    counter-reset: lst-ctn-kix_s6nvbwet7b6a-8 0;
}

ol.lst-kix_h88s3y397knj-6.start {
    counter-reset: lst-ctn-kix_h88s3y397knj-6 0;
}

.lst-kix_o92n9fdffgi2-7>li:before {
    content: "\0025cb   ";
}

.lst-kix_y3uq6xza4u17-1>li {
    counter-increment: lst-ctn-kix_y3uq6xza4u17-1;
}

ol.lst-kix_neiu91tsm62m-0.start {
    counter-reset: lst-ctn-kix_neiu91tsm62m-0 0;
}

.lst-kix_ixhrw0cb8wi2-2>li:before {
    content: "" counter(lst-ctn-kix_ixhrw0cb8wi2-2, lower-roman) ". ";
}

.lst-kix_ixhrw0cb8wi2-4>li:before {
    content: "" counter(lst-ctn-kix_ixhrw0cb8wi2-4, lower-latin) ". ";
}

.lst-kix_o92n9fdffgi2-5>li:before {
    content: "\0025a0   ";
}

ol.lst-kix_6qzpreazmqno-8.start {
    counter-reset: lst-ctn-kix_6qzpreazmqno-8 0;
}

.lst-kix_zaqkkjjhu4ar-1>li:before {
    content: "" counter(lst-ctn-kix_zaqkkjjhu4ar-1, lower-latin) ". ";
}

.lst-kix_ixhrw0cb8wi2-0>li:before {
    content: "" counter(lst-ctn-kix_ixhrw0cb8wi2-0, decimal) ". ";
}

.lst-kix_zaqkkjjhu4ar-4>li {
    counter-increment: lst-ctn-kix_zaqkkjjhu4ar-4;
}

.lst-kix_y3uq6xza4u17-7>li {
    counter-increment: lst-ctn-kix_y3uq6xza4u17-7;
}

ol.lst-kix_y3uq6xza4u17-0 {
    list-style-type: none;
}

.lst-kix_zaqkkjjhu4ar-3>li {
    counter-increment: lst-ctn-kix_zaqkkjjhu4ar-3;
}

ol.lst-kix_zaqkkjjhu4ar-4.start {
    counter-reset: lst-ctn-kix_zaqkkjjhu4ar-4 0;
}

ol.lst-kix_h88s3y397knj-5.start {
    counter-reset: lst-ctn-kix_h88s3y397knj-5 0;
}

.lst-kix_ixhrw0cb8wi2-5>li {
    counter-increment: lst-ctn-kix_ixhrw0cb8wi2-5;
}

.lst-kix_h88s3y397knj-5>li {
    counter-increment: lst-ctn-kix_h88s3y397knj-5;
}

.lst-kix_s6nvbwet7b6a-0>li:before {
    content: "" counter(lst-ctn-kix_s6nvbwet7b6a-0, decimal) ". ";
}

.lst-kix_s6nvbwet7b6a-2>li:before {
    content: "" counter(lst-ctn-kix_s6nvbwet7b6a-2, lower-roman) ". ";
}

ol.lst-kix_y3uq6xza4u17-3 {
    list-style-type: none;
}

.lst-kix_6qzpreazmqno-3>li {
    counter-increment: lst-ctn-kix_6qzpreazmqno-3;
}

ol.lst-kix_h88s3y397knj-4.start {
    counter-reset: lst-ctn-kix_h88s3y397knj-4 0;
}

ol.lst-kix_y3uq6xza4u17-4 {
    list-style-type: none;
}

ol.lst-kix_y3uq6xza4u17-1 {
    list-style-type: none;
}

ol.lst-kix_y3uq6xza4u17-2 {
    list-style-type: none;
}

ol.lst-kix_y3uq6xza4u17-7 {
    list-style-type: none;
}

.lst-kix_neiu91tsm62m-2>li {
    counter-increment: lst-ctn-kix_neiu91tsm62m-2;
}

ol.lst-kix_y3uq6xza4u17-8 {
    list-style-type: none;
}

ol.lst-kix_zaqkkjjhu4ar-3.start {
    counter-reset: lst-ctn-kix_zaqkkjjhu4ar-3 0;
}

ol.lst-kix_y3uq6xza4u17-5 {
    list-style-type: none;
}

ol.lst-kix_y3uq6xza4u17-6 {
    list-style-type: none;
}

ul.lst-kix_pz1ye2qlp1w9-4 {
    list-style-type: none;
}

.lst-kix_neiu91tsm62m-8>li {
    counter-increment: lst-ctn-kix_neiu91tsm62m-8;
}

ul.lst-kix_pz1ye2qlp1w9-5 {
    list-style-type: none;
}

ul.lst-kix_pz1ye2qlp1w9-6 {
    list-style-type: none;
}

ul.lst-kix_pz1ye2qlp1w9-7 {
    list-style-type: none;
}

ul.lst-kix_pz1ye2qlp1w9-8 {
    list-style-type: none;
}

ol {
    margin: 0;
    padding: 0;
}

table td,
table th {
    padding: 0;
}

.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt;
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal;
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}

.c3 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt;
}

.c4 {
    font-size: 12pt;
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}