@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141414;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 30px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

body {
  background-color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidescroll::-webkit-scrollbar {
  display: none;
}

.bg-black-900 {

  background-color: #070707;
}

.bg-black-800 {

  background-color: #131313;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  background-color: white;
}

.trans-slow {
  transition: all 1000ms ease-in-out;
}

.trans-slow-2x {
  transition: all 2000ms ease-in-out;
}

.trans-mid {
  transition: all 750ms ease-in-out;
}

.trans {
  transition: all 500ms ease-in-out;
}

.trans-fast {
  transition: all 100ms ease-in-out;
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0%;
    left: 100px;
  }

  to {
    opacity: 100%;
    left: 0px;
  }
}

@keyframes fadeInZoom {
  from {
    opacity: 0%;
    scale: 50%;
  }

  to {
    opacity: 100%;
    scale: 100%;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0%;
    top: 100px;
  }

  to {
    opacity: 100%;
    top: 0px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0%;
    bottom: 100px;
  }

  to {
    opacity: 100%;
    bottom: 0px;
  }
}

.fadeIn {

  animation: fadeIn 2s ease-in-out;
}

.fadeInRight {
  position: relative;
  animation: fadeInRight 2s ease-in-out;
}

.fadeInZoom {
  position: relative;
  animation: fadeInZoom 2s ease-in-out;
}

.fadeInBottom {
  position: relative;
  animation: fadeInBottom 2s ease-in-out;
}

.fadeInUp {
  position: relative;
  animation: fadeInUp 2s ease-in-out;
}

.disablScroll {
  overflow: hidden;
}


.ce-toolbar__content {
  max-width: calc(96% - 100px) !important;
}

.cdx-block {
  max-width: 100% !important;
}

.red{
  background-color: red;
}
img{
  display: none;
}
img[src*="http"] {
  display: block;
  
}

.menuSelection{
background-color: antiquewhite;

}